<div class="container">
    <div class="hero-unit">
        <h1>Listing cashflows</h1>
    </div>
</div>  


<table class="table table-striped">
  <tr>
    <th>Amount</th>
    <th>Category</th>
    <th>Unit</th>
    <th>Description</th>
    <th>Isincome</th>
    <th>IsTaxIncluded</th>
    <th>Date</th>
    <th>TaxInclusiveAmount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cashflows.each do |cashflow| %>
  <tr>
    <td><%= cashflow.amount %></td>
    <td><%= cashflow.category %></td>
    <td><%= unit_convert cashflow.unit %></td>
    <td><%= cashflow.description %></td>
    <td><%= cashflow.isIncome %></td>
    <td><%= cashflow.isTaxIncluded %></td>
    <td><%= cashflow.date %></td>
    <td><%= calculate_tax_inclusive_amount cashflow %></td>
    <td><%= link_to 'Show', cashflow, :class=>"btn" %></td>
    <td><%= link_to 'Edit', edit_cashflow_path(cashflow), :class=>"btn" %></td>
    <td><%= link_to 'Destroy', cashflow, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cashflow', new_cashflow_path, :class=>"btn" %>
